data/
tutorials/
shiny_scripts_zac/
mutli-omic-predictions.Rproj 
.Rproj.user
.Rhistory
.DS_Store
.RData
*.csv
*.png
*.rds
*.pptx
*.numbers
*.docx
*.pdf
*.html
*.zip
*.log
*play_scripts/older_sept25/
